<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>RM Siang-Malam</title>
    <!-- CSS only -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65"
      crossorigin="anonymous"
    />
  </head>

  <body>
    <!-- Navigation-->
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <div class="container px-4 px-lg-5">
        <a class="navbar-brand" href="#!">Siang-Malam dan Toko Kelontong</a>
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0 ms-lg-4">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="index.html"
                >Makanan dan Minuman</a
              >
            </li>
            <li class="nav-item">
              <a class="nav-link" href="part2/index.html">Alat Makan</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    <!-- Header-->
    <header class="bg-dark py-5">
      <div class="container px-4 px-lg-5 my-5">
        <div class="text-center text-white">
          <h1 class="display-4 fw-bolder">Lapar Dan Haus?</h1>
          <p class="lead fw-normal text-white-50 mb-0">Ayo Pesan Disini!</p>
        </div>
      </div>
    </header>
    <!-- Section-->
    <section class="py-5">
      <div class="container px-4 px-lg-5 mt-5">
        <div
          class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center"
        >
          <div class="col mb-5">
            <div class="card h-100">
              <!-- Product image-->
              <img
                class="card-img-top"
                src="https://images.tokopedia.net/img/cache/700/VqbcmM/2021/9/24/567e2b4b-8e54-415c-ac15-2476c3f78d8c.jpg"
                alt="..."
              />
              <!-- Product details-->
              <div class="card-body p-4">
                <div class="text-center">
                  <!-- Product name-->
                  <h5 class="fw-bolder">Menu Spesial Hari Ini</h5>
                  <p>Nasi Ayam</p>
                  <!-- Product price-->
                  <span class="text-muted text-decoration-line-through"
                    >Rp. 35.000</span
                  >
                  Rp. 30.000
                </div>
              </div>
            </div>
          </div>
          <div class="col mb-5">
            <div class="card h-100">
              <!-- Sale badge-->
              <div
                class="badge bg-dark text-white position-absolute"
                style="top: 0.5rem; right: 0.5rem"
              >
                Sale
              </div>
              <!-- Product image-->
              <img
                class="card-img-top"
                src="https://awsimages.detik.net.id/community/media/visual/2020/10/08/ikan-nila-bakar-pedas-manis-2_11.jpeg?w=700&q=90"
                alt="..."
              />
              <!-- Product details-->
              <div class="card-body p-4">
                <div class="text-center">
                  <!-- Product name-->
                  <h5 class="fw-bolder">Paling Banyak Dipesan</h5>
                  <p>Nasi Ikan</p>
                  <!-- Product reviews-->
                  <div
                    class="d-flex justify-content-center small text-warning mb-2"
                  >
                    <div class="bi-star-fill"></div>
                    <div class="bi-star-fill"></div>
                    <div class="bi-star-fill"></div>
                    <div class="bi-star-fill"></div>
                    <div class="bi-star-fill"></div>
                  </div>
                  <!-- Product price-->
                  <span class="text-muted text-decoration-line-through"
                    >Rp. 40.000</span
                  >
                  Rp. 35.000
                </div>
              </div>
            </div>
          </div>
          <div class="col mb-5">
            <div class="card h-100">
              <!-- Product image-->
              <img
                class="card-img-top"
                src="https://images.tokopedia.net/img/cache/500-square/VqbcmM/2022/4/4/7d2686ff-b79b-42ae-a467-17b1fa958d31.jpg"
                alt="..."
              />
              <!-- Product details-->
              <div class="card-body p-4">
                <div class="text-center">
                  <!-- Product name-->
                  <h5 class="fw-bolder">Nasi Kucing</h5>
                  <!-- Product price-->
                  Rp. 15.000
                </div>
              </div>
            </div>
          </div>
          <div class="col mb-5">
            <div class="card h-100">
              <!-- Sold Badge-->
              <div
                class="badge bg-danger text-white position-absolute"
                style="top: 0.5rem; right: 0.5rem"
              >
                Habis
              </div>
              <!-- Product image-->
              <img
                class="card-img-top"
                src="https://awsimages.detik.net.id/community/media/visual/2018/01/12/a09e04c3-061c-499e-a4ff-e99cc403dbc1.jpeg?w=700&q=90"
                alt="..."
              />
              <!-- Product details-->
              <div class="card-body p-4">
                <div class="text-center">
                  <!-- Product name-->
                  <h5 class="fw-bolder">Nasi Bebek</h5>
                  <!-- Product reviews-->
                  <div
                    class="d-flex justify-content-center small text-warning mb-2"
                  >
                    <div class="bi-star-fill"></div>
                    <div class="bi-star-fill"></div>
                    <div class="bi-star-fill"></div>
                    <div class="bi-star-fill"></div>
                    <div class="bi-star-fill"></div>
                  </div>
                  <!-- Product price-->
                  Rp. 45.000
                </div>
              </div>
            </div>
          </div>
          <div class="col mb-5">
            <div class="card h-100">
              <!-- Product image-->
              <img
                class="card-img-top"
                src="https://nilaigizi.com/assets/images/produk/produk_1578041377.jpg"
                alt="..."
              />
              <!-- Product details-->
              <div class="card-body p-4">
                <div class="text-center">
                  <!-- Product name-->
                  <h5 class="fw-bolder">Es Teh</h5>
                  <!-- Product price-->
                  Rp. 10.000
                </div>
              </div>
            </div>
          </div>
          <div class="col mb-5">
            <div class="card h-100">
              <!-- Product image-->
              <img
                class="card-img-top"
                src="https://images.tokopedia.net/img/cache/700/VqbcmM/2022/6/26/eab71001-2e49-4a9a-bc6a-132fc36cf7fb.jpg"
                alt="..."
              />
              <!-- Product details-->
              <div class="card-body p-4">
                <div class="text-center">
                  <!-- Product name-->
                  <h5 class="fw-bolder">Es Jeruk</h5>
                  <!-- Product price-->
                  Rp. 15.000
                </div>
              </div>
            </div>
          </div>
          <div class="col mb-5">
            <div class="card h-100">
              <!-- Sale badge-->
              <div
                class="badge bg-dark text-white position-absolute"
                style="top: 0.5rem; right: 0.5rem"
              >
                Sale
              </div>
              <!-- Product image-->
              <img
                class="card-img-top"
                src="https://images.tokopedia.net/img/cache/700/product-1/2020/4/25/8344685/8344685_2c253ae1-15dc-4456-9934-19fe54a847d4_1920_1920.jpg"
                alt="..."
              />
              <!-- Product details-->
              <div class="card-body p-4">
                <div class="text-center">
                  <!-- Sold Badge-->
                  <div
                    class="badge bg-danger text-white position-absolute"
                    style="top: 0.5rem; right: 0.5rem"
                  >
                    Habis
                  </div>
                  <!-- Product name-->
                  <h5 class="fw-bolder">Es Kopi Susu</h5>
                  <!-- Product reviews-->
                  <div
                    class="d-flex justify-content-center small text-warning mb-2"
                  >
                    <div class="bi-star-fill"></div>
                    <div class="bi-star-fill"></div>
                    <div class="bi-star-fill"></div>
                    <div class="bi-star-fill"></div>
                    <div class="bi-star-fill"></div>
                  </div>
                  <!-- Product price-->
                  Rp.20.000
                </div>
              </div>
            </div>
          </div>
          <div class="col mb-5">
            <div class="card h-100">
              <!-- Product image-->
              <img
                class="card-img-top"
                src="https://static.shoplinks.co/0001_Tiptop/photo_gallery/thumbs/01115140102a_750x750.jpg"
                alt="..."
              />
              <!-- Product details-->
              <div class="card-body p-4">
                <div class="text-center">
                  <!-- Product name-->
                  <h5 class="fw-bolder">Es Campah</h5>
                  <p>Le Minerale</p>
                  <!-- Product price-->
                  Rp. 3.000
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <div id="app" class="container">
      <button
        type="button"
        class="btn btn-dark"
        data-bs-toggle="modal"
        data-bs-target="#exampleModal"
      >
        Tambah Pesanan
      </button>

      <!-- modal #exampleModal -->
      <div
        class="modal fade"
        id="exampleModal"
        tabindex="-1"
        aria-labelledby="exampleModalLabel"
        aria-hidden="true"
      >
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h1 class="modal-title fs-5" id="exampleModalLabel">
                Tambah Pesanan
              </h1>
              <button
                type="button"
                class="btn-close"
                data-bs-dismiss="modal"
                aria-label="Close"
              ></button>
            </div>
            <div class="modal-body">
              <form>
                <div class="mb-3">
                  <label for="recipient-name" class="col-form-label"
                    >Nama Pembeli:</label
                  >
                  <input type="text" class="form-control" v-model="nama" />
                </div>
                <div class="mb-3">
                  <label for="message-text" class="col-form-label"
                    >Alamat Pembeli:</label
                  >
                  <textarea class="form-control" v-model="alamat"></textarea>
                </div>
                <div class="mb-3">
                  <label for="recipient-name" class="col-form-label"
                    >No Hp:</label
                  >
                  <input type="number" class="form-control" v-model="nohp" />
                </div>
                <div class="mb-3">
                  <label
                    >Menu Makanan
                    <select
                      id="menu_makanan"
                      name="menu_makanan"
                      v-model="makanan"
                    >
                      <option value="" selected="selected">
                        Silahkan Dipilih
                      </option>
                      <option value="Nasi Ayam">Nasi Ayam</option>
                      <option value="Nasi Ikan">Nasi Ikan</option>
                      <option value="Nasi Kucing">Nasi Kucing</option>
                    </select>
                  </label>
                </div>
                <div class="mb-3">
                  <label
                    >Menu Minuman
                    <select
                      id="menu_minuman"
                      name="menu_minuman"
                      v-model="minuman"
                    >
                      <option selected="selected">Silahkan Dipilih</option>
                      <option value="Es Teh">Es Teh</option>
                      <option value="Es Jeruk">Es Jeruk</option>
                      <option value="Es Campah">Es Campah</option>
                    </select>
                  </label>
                </div>
              </form>
            </div>
            <div class="modal-footer">
              <button
                type="button"
                class="btn btn-secondary"
                data-bs-dismiss="modal"
              >
                Tutup
              </button>
              <button
                v-on:click="savePembeli"
                type="button"
                class="btn btn-primary"
              >
                Simpan
              </button>
            </div>
          </div>
        </div>
      </div>

      <table class="table table-striped">
        <thead>
          <tr>
            <th>Nama</th>
            <th>Alamat</th>
            <th>No Hp</th>
            <th>Makanan</th>
            <th>Minuman</th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody>
          <tr v-for="data in dataPembeli">
            <td>{{ data.nama }}</td>
            <td>{{ data.alamat }}</td>
            <td>{{ data.nohp }}</td>
            <td>{{ data.makanan }}</td>
            <td>{{ data.minuman }}</td>
            <td>
              <button
                class="btn btn-danger"
                v-on:click="deletePembeli(data._id)"
              >
                Hapus
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>

    <script
      src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"
      integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.min.js"
      integrity="sha384-cuYeSxntonz0PPNlHhBs68uyIAVpIIOZZ5JqeqvYYIcEL727kskC66kF92t6Xl2V"
      crossorigin="anonymous"
    ></script>
    <script src="https://docs.vuejs.id/js/vue.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="index.js"></script>
    <script
      src="https://code.jquery.com/jquery-3.6.3.min.js"
      integrity="sha256-pvPw+upLPUjgMXY0G+8O0xUf+/Im1MZjXxxgOcBQBXU="
      crossorigin="anonymous"
    ></script>
  </body>
</html>
